DISCORD_TOKEN=your_bot_token
CLIENT_ID=your_application_client_id
ADMIN_GUILD_ID=your_admin_panel_server_id
TARGET_GUILD_ID=your_target_server_id
CREATE_CHANNEL_ID=1485779930594676767
TEMP_CATEGORY_ID=1483121019861467218
ROOM_NAME_TEMPLATE=Комната {displayName}'a
